@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  min-width: 320px;
}

body {
  font-family: GmarketSansMedium, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 15px;
  padding: 0 1rem;
  background-color: #f4f4f4;
}

button, input, textarea {
  font-family: GmarketSansMedium, -apple-system, BlinkMacSystemFont, sans-serif;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 5rem;
  }
}
